.banner {
    height: 80vh;
    width: 100%;
    padding: 1em 2em;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    @include flex-box;

    .text-wrap {
        width: 65%;

        h1 {
            font-size: 5em;
            font-weight: 400;
            margin-bottom: 0.3em;
        }

        h2 {
            font-weight: 400;
            color: white;
            margin-bottom: 0.8em;
        }

        p {
            font-size: 1.8em;
            margin-bottom: 2.6em;
        }
    }

    .button-wrap {
        @include flex-box;

        button {
            width: 10em;
            height: 3.5em;
            font-size: 1.3em;
            margin-right: 3em;
            box-shadow: inset 0 0 0 0 black;
            @include transition-ease;

            &:hover {
                color: white;
                box-shadow: inset 10em 0 0 0 black;
            }
        }

        a {
            height: 4.5em;
            width: 4.5em;
            text-decoration: none;
            @include flex-box;
            justify-content: center;
            border-radius: 50%;
            background-color: white;
            margin-right: 1em;
            animation: animate 1s linear infinite;

            i {
                color: black;
            }
        }

        @keyframes animate {
            0% {
                box-shadow: 0 0 0 0 rgba(253, 252, 252, 0.6);
            }

            40% {
                box-shadow: 0 0 0 30px rgba(253, 252, 252, 0);
            }

            80% {
                box-shadow: 0 0 0 30px rgba(253, 252, 252, 0);
            }

            100% {
                box-shadow: 0 0 0 0 rgba(253, 252, 252, 0);
            }

        }

        h3 {
            margin: 0;
        }
    }
}



